<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Formulario Acción</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="formulario">
    <form id="formularioAnnadir">
      <fieldset>
        <legend>Información de la acción</legend>
        <label for="nombre">Nombre de la acción *</label><br>
        <input type="text" id="nombre" name="nombre" required><br>

        <label for="asociacionEntidad">Asociación o Entidad *</label><br>
        <input type="text" id="asociacionEntidad" name="asociacionEntidad" maxlength="36"><br>

        <label for="email">Email de contacto *</label><br>
        <input type="email" id="email" name="email" required><br>

        <label for="telefono">Teléfono *</label><br>
        <input type="tel" id="telefono" name="telefono" required><br>
      </fieldset>

      <fieldset>
        <legend>Fechas</legend>
        <label for="fechaInicio">Fecha de inicio</label><br>
        <input type="date" id="fechaInicio" name="fechaInicio"><br>

        <label for="fechaFin">Fecha de fin</label><br>
        <input type="date" id="fechaFin" name="fechaFin"><br>

        <label for="horarios">Horarios</label><br>
        <input type="text" id="horarios" name="horarios" placeholder="Ej: De 10:00 a 12:00"><br>
      </fieldset>

      <fieldset>
        <legend>Acciones</legend>
        <label for="tipoAccion">Tipo de acción</label><br>
        <select id="tipoAccion" name="tipoAccion">
          <option value="consulta">consulta</option>
          <option value="jornada/premio">jornada/premio</option>
          <option value="uso del espacio">uso del espacio</option>
          <option value="reunión/coordinación">reunión/coordinación</option>
          <option value="servicio técnico">servicio técnico</option>
          <option value="formación">formación</option>
          <option value="otros">otros</option>
        </select><br><br>

        <label>Responsable de la acción</label><br>
        <input type="checkbox" name="responsableAccion" value="Saregune"> Saregune<br>
        <input type="checkbox" name="responsableAccion" value="Elkarteak"> Elkarteak<br>
        <input type="checkbox" name="responsableAccion" value="Batekin"> Batekin<br>
        <input type="checkbox" name="responsableAccion" value="AuzoTV"> AuzoTV<br>
      </fieldset>

      <fieldset>
        <legend>Descripción y Web</legend>
        <label for="descripcion">Descripción</label><br>
        <textarea id="descripcion" name="descripcion" rows="4"></textarea><br><br>

        <label for="web">Web</label>
        <input type="url" id="web" name="web">
      </fieldset>

      <button type="submit" id="btnSubmit">Guardar</button>
    </form>
  </div>

  <script src="/main.js"></script>
</body>
</html>
