<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
        <div class="formulario">
        <form action="/api/insertar" method="post" id="formularioAnnadir">
            <fieldset> <!-- Información de la acción -->
                <legend>Información de la acción</legend>
                <label for="nombre">Nombre de la acción:</label><br>
                <input type="text" id="nombre" name="nombre"><br>

                <label for="asociacionEntidad">Asociación o Entidad:</label><br>
                <input type="text" id="asociacionEntidad" name="asociacionEntidad" maxlength="36"><br>

                <label for="email">Email de contacto:</label><br>
                <input type="email" id="email" name="email"><br>

                <label for="telefono">Teléfono:</label><br>
                <input type="tel" id="telefono" name="telefono"><br>
            </fieldset><!-- Información de la acción -->

            <fieldset> <!-- Fechas -->
                <legend>Fechas</legend>
                <label for="fechaInicio">Fecha de inicio:</label><br>
                <input type="date" id="fechaInicio" name="fechaInicio"><br>

                <label for="fechaFin">Fecha de fin:</label><br>
                <input type="date" id="fechaFin" name="fechaFin"><br>

                <label for="horarios">Horarios:</label><br>
                <input type="text" id="horarios" name="horarios" placeholder="Ej: De 10:00 a 12:00"><br>
            </fieldset><!-- Fechas -->

            <fieldset> <!-- Acciones -->
                <legend>Acciones</legend>
                <label for="tipoAccion">Tipo de acción:</label><br>
                <select id="tipoAccion" name="tipoAccion">
                    <option value="consulta">Consulta</option>
                    <option value="jornada/premio">Jornada/Premio</option>
                    <option value="uso del espacio">Uso del espacio</option>
                    <option value="reunión/coordinación">Reunión/Coordinación</option>
                    <option value="servicio técnico">Servicio técnico</option>
                    <option value="formación">Formación</option>
                    <option value="otros">Otros</option>
                </select><br><br>

                <label for="responsableAccion">Responsable de la acción:</label><br> <!-- Titulo checkbox -->
                <!-- Organiza primero el input luego el label -->
                    <input type="checkbox" name="responsableAccion[]" id="Saregune" value="Saregune">
                     <label for="Saregune">Saregune</label>
                    <br>
                    <input type="checkbox" name="responsableAccion[]" id="Elkarteak" value="Elkarteak">
                    <label for="Elkarteak">Elkarteak</label>
                    <br>
                    <input type="checkbox" name="responsableAccion[]" id="Batekin" value="Batekin">
                    <label for="Batekin">Batekin</label>
                    <br>
                    <input type="checkbox" name="responsableAccion[]" id="AuzoTV" value="AuzoTV">
                    <label for="AuzoTV">AuzoTV</label>
            </fieldset><!-- Acciones -->

            <fieldset><!-- Descripción y Web -->
                <legend>Descripción y Web</legend>
                <label for="descripcion">Descripción:</label><br>
                <textarea id="descripcion" name="descripcion" rows="4"></textarea><br><br>

                <label for="web">Web:</label>
                <input type="url" id="web" name="web">
            </fieldset><!-- Descripción y Web -->

            <button type="submit">Añadir acción</button>
        </form>

    </div>
</body>
</html>