<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
</head>
<body>
    <div class="head">
        <div class="bienVenido">
           <i class="fa-regular fa-circle-user"></i>
            <h2 class="bienVenidoText">  Bienvenida(o),  <%= user.email %></h2>
        </div>
       
        <div class="botonesHead">
             <a href="/formAnn" class="aniadirAccion">
            <i class="fas fa-plus"></i>
            A침adir acci칩n
        </a>
            <a href="/logout" class="cerrarSesion">
                <i class="fas fa-sign-out-alt"></i>
                Cerrar sesi칩n
            </a>
        </div>
    </div> 
    <div class="headInferior">
        <div class="filtrosAcciones">
        
        <input type="text" id="filtroNombre" placeholder="Buscar por nombre..." />
        <input type="text" id="filtroEntidad" placeholder="Buscar por entidad..." />
        <input type="date" id="fechaInicioDesde" />
        <input type="date" id="fechaInicioHasta" />
        <button id="btnFiltrar">Filtrar</button>
        <button id="btnReset">Reset</button>
    </div>
    </div>

    <div class="tablaInfo">
        <div class="cabeceraTabla">
            <p class="pSaber"></p>
            <p>Nombre</p>
            <p>Entidad</p>
            <p>Tipo Acci칩n</p>
            <p>Responsable(s)</p>
            <p>Action</p>
        </div>
        <div class="container"></div>
    </div>
</div>
    

    <script src="/app.js"></script>
</body>
</html>