<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
</head>
<body>
    <div class="head">
        <h1>Gesti칩n de Acciones</h1>
        <div>
            <a href="/formAnn">
                <button class="aniadirAccion">
                    <i class="fas fa-plus"></i>
                    A침adir acci칩n
                </button>
            </a>
        </div>
    </div>
    <div class="tablaInfo">
        <div class="cabeceraTabla">
            <p>Nombre</p>
            <p>Entidad</p>
            <p>Tipo Acci칩n</p>
            <p>Responsable(s)</p>
            <p>Fechas</p>
            <p>Editar</p>
        </div>
        <div class="container"></div>
    </div>

    <script src="/app.js"></script>
</body>
</html>